<% unless notice.nil?%>
<div class="alert alert-success m-3" role="alert" id="notice">
  <%= notice %>
</div>
<% end %>

<div id="timer-button">
  <% if current_user.timer_running? %>
    <%= render 'clock_out_button.erb' %>
  <% else %>
    <%= render 'clock_in_button.erb' %>
  <% end %>
</div>


<h1>Himama Timesheet</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr >
      <th>Starts At</th>
      <th>Finishes At</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
      <tr>
        <td><%= time_entry.starts_at.to_formatted_s(:long) %></td>
        <td> 
        <% if time_entry.finishes_at %>
        <%= time_entry.finishes_at.to_formatted_s(:long)%>
        <% else %>
        Running ...
        <% end %>
        </td>
        <td>
          <% if time_entry.finishes_at %>
            <%= link_to 'Edit', edit_time_entry_path(time_entry), class: "btn btn-warning" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
